[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
insightface = "*"
opencv-python = "*"
numpy = "*"
scalar-fastapi = "*"
onnxruntime = "*"
python-multipart = "*"
filetype = "*"

[dev-packages]

[requires]
python_version = "3.10"
